---
swagger: "2.0"
info:
  description: Whatsapp communication API
  title: Whats app integration
  version: 1.0.0
consumes:
- application/io.goswagger.examples.todo-list.v1+json
- application/json
produces:
- application/io.goswagger.examples.todo-list.v1+json
- application/json
schemes:
- http
- ws


paths:
  /:
    get:
      tags:
        - api
      operationId: liveMatch
      responses:
        200:
          description: get live league match 

        default:
          description: generic error response
          schema:
            $ref: "#/definitions/error"
  /login:
    post:
      tags:
        - auth
      operationId: auth
      parameters:
        - name: Body
          in: body
          schema:
            $ref: "#/definitions/user"
    
      responses:
        200:
          description: login into system 
          schema:
            type: array
            items:
              $ref: "#/definitions/user"

        default:
          description: generic error response
          schema:
            $ref: "#/definitions/error"
  /live:
      get:
        tags:
          - live
        operationId: live
        responses:
          200:
            description: connect to websocket 

          default:
            description: generic error response
            schema:
              $ref: "#/definitions/error"
definitions:
  user: 
    type: object
    properties:
      Id:
        type: integer
        format: int64
      username:
        type: string
      email: 
        type: string
      token:
        type: string
      password:
        type: string


  error:
    type: object
    required:
      - message
    properties:
      code:
        type: integer
        format: int64
      message:
        type: string