apiVersion: v1
kind: Service
metadata:
  name: {{ include "leagueapichart.fullname" . }}
  labels:
    {{- include "leagueapichart.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: 80
      targetPort: 9000
      protocol: TCP

  selector:
    {{- include "leagueapichart.selectorLabels" . | nindent 4 }}
